# Python
__pycache__/
*.pyc

# Virtual environment
.venv-ambiguous-ai/

# Output / Generated data
outputs/
fonts/
data/
*.log

#not related code
list_fonts.py/
print_tree_deep.py/
print_tree_shallow.py/